.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(236, 233, 233);
  background: rgb(29, 28, 28);
  max-width: 900px;
}

.App__title {
  font-weight: bolder;
  margin: 0;
  padding: 16px;
  background: rgb(49, 48, 48);
}

.news__story-Div {
  padding: 8px;
  border-left: 10px groove rgb(236, 233, 233);
  border-bottom: 0.5px groove rgb(236, 233, 233);
  text-align: start;
  margin-bottom: 5px;
}

.news__story-Div p {
  color: rgb(146, 141, 141);
  margin: 0;
  padding: 4px;
}

.news__story-Div-article {
  margin: 0;
  padding: 4px;
  color: rgb(236, 233, 233);
}

.news__story-Div-article a{
  text-decoration: none;
  color: rgb(236, 233, 233);
  cursor: pointer;
  margin: 0;
}

.hidden {
  display: none;
}